*{ list-style: none;
   padding: 0;
   margin: 0;
   box-sizing: border-box;}
body{font-family:'Noto Sans KR',
   sans-serif; 
   color:#2b2b2b;
   }
  
  
 body::-webkit-scrollbar {
  display: none;
}

.clear{
   display:block;
   content: '';
   clear: both;
}


/* #wrap{

   border: 1px solid red;

   width: 100%;
   

   
} */


header {
   position: fixed;
  top: 0;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.5);
   z-index: 100;
   
}


.header_container{
   width: 1180px;
   height: 70px;
 
   margin: 0 auto;
}

header ul{

   list-style: none;
   
    width: 1180px;
   
    height: 70px;
    z-index: 100;
    

 
}

header ul li{
   float: left;
   
   padding-left: 116px;
}



header ul > li > a{
   height: 60px;
   line-height: 60px;
   font-size: 24px;
   font-weight: 700;
   transition: all 0.4s;
   color: black;
   text-decoration: none;
}
  




header ul > li > a:hover{
   color:#446383;;
}


section{
 
   margin: 0 auto;
  
}

#main {
   width: 100%;
   height: 938px;
  
   background-image: url(img/main.png);
   background-repeat: no-repeat;
   background-size: cover;   

   opacity: .9;
   z-index: -1;

}


#main .scroll {
   display: flex;
   align-items: center;
   justify-content: center;
}


#main .scroll .mouse::before {
   content: '';
   width: 10px;
   height: 10px;
   position: absolute;
   top: 8px;
   left: 50%;
   transform: translateX(-50%);
   background-color: #fff;
   border-radius: 50%;
   opacity: 1;
   animation: wheel 2s infinite;
}


#skils_wrap{


    background-color: #FBB117 ; 
   z-index: -1;
  
}


#skil{
   box-sizing: border-box;
    width: 100%;
    max-width: 71.25rem;
    padding: 4rem 2rem;
    margin: 0 auto;
    height: 60rem;
}

#skil .skil_title{
   display: table;
    position: relative;
    margin: 0 auto 48px;
}

#skil .skil_title>h2{
   border-bottom-width: 1px;
   /* border-bottom-style: solid; */
   color: #f77272;
   font-size: 5rem;
   text-align: center;
   padding-top: 30px;
   margin-bottom: 50px;
   
}


#skil_list .skil_front{
   margin-bottom: 50px;
   width: 1040px;

   height: 250px;
   padding:15px;
   border-radius: 20px;
   background-color: #fff;

   transform: translateY(0.5rem);
}


#skil_list .skil_front_title{

   font-weight: 700;
   font-size: 28px;
   color: #f77272;

   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
   
   
}

#skil_list .skil_back{
   margin-bottom: 50px;
   width: 1040px;

   height: 250px;
   padding:15px;
   border-radius: 20px;
   background-color: #fff;

   transform: translateY(0.5rem);
}


#skil_list .skil_back_title{

   font-weight: 700;
   font-size: 28px;
   color: #f77272;

   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
   
   
}

#skil_list .skil_editor{
   margin-right: 50px;
   width: 400px;
   height: 700px;
   padding:15px;
   border-radius: 20px;
   background-color: #fff;

   transform: translateY(0.5rem);
}


#skil_list .skil_editor_title{

   font-weight: 700;
   font-size: 28px;
   color: #f77272;

   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
   width: 70%;
   
}

#skil_list .skil_version{
   
   width: 400px;
   height: 700px;
   padding:15px;
   border-radius: 20px;
   background-color: #fff;

   transform: translateY(0.5rem);
}


#skil_list .skil_version_title{

   font-weight: 700;
   font-size: 28px;
   color: #f77272;

   border-bottom: 1px solid #ccc;
   padding-bottom: 10px;
   width: 70%;
   
}


#project {
   width: 100%;
   padding-bottom: 30px;
   margin: 0 auto;
   
   background-color: #1d809f;
   
}

#project > h2{

   color: #f77272;
   font-size: 5rem;
   text-align: center;
   padding-top: 100px;
   margin-bottom: 90px;
}

#project_container{

   width: 1084px;
   padding: 48px;
    margin: 30px auto 250px;
    border-radius: 16px;
    background-color: #fff;
    
}

#project_container h2{
   padding-bottom: 50px;
   font-family: sans-serif;
  
   font-size: 40px;
   color: #222;
   text-align: center;


   
}

#project_container .proeject_contents_left{
   overflow: hidden;
    position: relative;
    width: 50%;
    margin-right: 3rem;
  
    
}

#project_container .contents_img{

   margin: 0 auto;
}

#project_container .proeject_contents_left img{


   width: 475px;
   height: 475px;


  
}

#project_container .project_contents_right{
   width: 50%;
   
}

.flex{
   display: flex;
}

#project_container .Projects_info_function{
   margin-bottom: 40px;
}

#project_container .proeject_info_text{

   border-bottom: 2px solid #ccc;

   padding-bottom: 15px;
   margin-bottom: 30px;
}


#project_container .info_title{


   display: inline-block;
    vertical-align: middle;
    width: 8.4rem;
    font-weight: 900;
    font-size: 18px;

}


#project_container .info_sangse{
display: inline-block;
vertical-align: bottom;
width: calc(100% - 8.4rem);
font-weight: 400;
font-size: 16px;
float: right;

}


#about {
   overflow:hidden;
   margin-bottom: 80px;
}


#about>div {
   width:1180px; 
   display:block; 
   margin:auto;}


#about ul {
   line-height:245%;
}
#about h2 {color:#f77272; font-size:2rem; 
   text-align:center;
    padding-top:100px;
    margin-bottom: 90px;}

    #about p {
   font-size:1.2rem;
    color:#3a3a3a;}

#about li {
   font-size:1.15rem;
}

#about1,#about2,#about3 {flex:1;}

#about1 ul:nth-of-type(1) {
   font-weight:bold;
}

#about1 ul:nth-of-type(1)>li,#about2 ul:nth-of-type(1)>li,#about3 

ul:nth-of-type(1)>li {color:#3a3a3a;}

#about1 ul:nth-of-type(2)>li,#about2 ul:nth-of-type(2)>li,#about3 


ul:nth-of-type(2)>li {color:#565656;}

#about1 {
   border-right:1.5px solid #e5e5e5; 
   float: left;
   margin-right: 165px;

   padding-right: 55px;}

#about1>div {
   margin-left:75px;
}
#about1>div:nth-of-type(2) {
   display:flex; 
   margin-top:35px;
}
#about1>div:nth-of-type(2)>ul:nth-of-type(2),#about2 ul:nth-of-type(2),#about3 ul:nth-of-type(2) {
   margin-left:50px;
}

#about2 {
   margin-left:125px;
}
#about2 p,#about3 p {
   margin-bottom:20px; 
   font-weight:bold;
}
#about2>div,#about3>div {
   margin-bottom:40px;
}
#about2>div>div,#about3>div>div {
   display:flex;
}

#about3 ul:nth-of-type(1)>li {
   margin:11px 0;}
#about3 ul:nth-of-type(2)>li {
   color:white; 
   line-height:145%; 
   font-size:0.9rem;
} 





footer div {
   width: 1180px;
   display: block;
   margin: 0 auto;
}

#contact{
   padding-top: 70px;
   border-top: 1px solid #d3d3d3;
}


.copyright {
   padding: 12px 0;
   font-size: 1.2rem;
   text-align: center;
   background: #262626;
   color: white;
}

#contact .contact_info {
   padding-top: 10px;
   font-size: 1.2rem;
   text-align: center;
   line-height: 170%;
}

#contact .qr_code{
 
   text-align: center;
}

#contact .qr_code img{
   width: 250px;
   height: 250px;
}

#contact h2{
   text-align: center;
    font-size: 2.3rem;
    margin-bottom: 10px;
}

#contact .contact_info h3{
   
      font-size: 1.6rem;
      letter-spacing: -0.2px;
      margin-bottom: 5px;
      text-align: center;
}

footer ul:nth-of-type(1) {
   margin-right: 11px;
}


#contact .contact_info_sangse{
   
   margin-top: 10px;
}

footer>div>p:nth-of-type(1) {
  margin-bottom: 15px;
   text-align: center;
  
   padding-top: 15px;
   color: #989898;
}
